<div class="card">
  <div class="card-content">
    <div class="card-title">
      {{characterDetails.name}}
    </div>
    <dl>
      <dt>Birthday:</dt>
      <dd>{{characterDetails.birthday}}</dd>
      <dt>Strength:</dt>
      <dd>{{characterDetails.strength}}</dd>
      <dt>Dexterity:</dt>
      <dd>{{characterDetails.dexterity}}</dd>
    </dl>
    <button [disabled]="!buttonEnabled" [class.disabled]="!buttonEnabled" class="btn" (click)="select($event)">Choose</button>
  </div>
</div>
