<header style="margin-top: 5px;">
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li routerLinkActive="green-background">
          <a [routerLink]="['/welcome']">Welcome</a></li>
        <li routerLinkActive="green-background">
          <a [routerLink]="['/selection']">Character Select</a></li>
      </ul>
    </div>
  </nav>
  <hr>
</header>

<router-outlet></router-outlet>
