<div class="flex-container">
  <div *ngFor="let archetype of archetypes">
    <!--<archetype-card [characterDetails]="archetype"
      (characterSelection)="characterSelected($event)"></archetype-card>-->
    <archetype-card [characterDetails]="archetype"
      [buttonEnabled]="buttonEnabled"
      (characterSelection)="characterSelection.emit($event)"></archetype-card>

  </div>
</div>

<style>
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

</style>
