<h1>Name your character</h1>
<form [formGroup]="characterNameGroup">
  <input formControlName="characterName" placeholder="Character Name" type="text">
  <div *ngIf="!characterNameGroup.controls.characterName.valid && characterNameGroup.touched">
    Character Name Required
  </div>
</form>
<h1>Choose your Archetype</h1>
<span>
    <input placeholder="Search Character Types" type="text">
  <select></select>
</span>
<!--<button class="btn" [class.selected]="selected == 'human'">Human</button>
<button class="btn" [class.selected]="selected == 'droid'">Droid</button>
<button class="btn" [class.selected]="selected == 'all'">All</button>-->

<button class="btn" (click)="updateSelected('human')" [class.selected]="selected == 'human'">Human</button>
<button class="btn" (click)="updateSelected('droid')" [class.selected]="selected == 'droid'">Droid</button>
<button class="btn" (click)="updateSelected('all')" [class.selected]="selected == 'all'">All</button>
<div> Current Selection: {{selectedCharacter?.name}}</div>
<character-list [buttonEnabled]="characterNameGroup.valid" (characterSelect)="selectCharacter($event)"></character-list>

<style>
  .selected {
    background-color: green;
  }

</style>
